@using YesSql
@using OrchardCore.ContentManagement
@using Ozds.Modules.Ozds
@using Ozds.Util

@inject ISession Session

@{
  var user = await OrchardUser;
  var userId = user.UserId;

  var userReceipts = await Session
    .Query<ContentItem, ReceiptIndex>(
      index => index.ConsumerUserId == userId)
    .ListAsync()
    .Then(items => items
      .SelectFilter(item => item.AsContent<ReceiptType>()));
}

@if (userReceipts.EmptyEnumerable())
{
  <div>
    <p>
      @T["No receipts."]
    </p>
  </div>
}

<div>
  @foreach (var receipt in userReceipts)
  {
    <div>
      @await Orchard.DisplayAsync(receipt.ContentItem, "Summary")
    </div>
  }
</div>