@using YesSql
@using OrchardCore.ContentFields.Indexing.SQL
@using OrchardCore.ContentManagement
@using Ozds.Util

@inject ISession Session

@{
  var user = await OrchardUser;
  var userId = user.UserId;

  var userItemGroupsByContentType = await Session
    .Query<ContentItem, UserPickerFieldIndex>(
      index => index.SelectedUserId == userId)
    .ListAsync()
    .Then(items => items
      .GroupBy(item => item.ContentType));
}

@if (userItemGroupsByContentType.EmptyEnumerable())
{
  <div>
    <p>
      @T["It seems that you are not the owner or user of any center."]
    </p>
    <p>
      @(T[
        "If you are, please wait until our administrators add you as " +
        "a center owner or user."
      ])
    </p>
  </div>
}
else
{
  foreach(var contentTypeGroup in userItemGroupsByContentType)
  {
    if (!contentTypeGroup.EmptyEnumerable())
    {
      <h1>
        <span>
          @T[$"{contentTypeGroup.Key}s"]
        </span>
      </h1>

      foreach(var contentItem in contentTypeGroup)
      {
        @await Orchard.DisplayAsync(contentItem, "Summary")

        if (contentTypeGroup.Key == "Consumer")
        {

        }
      }
    }
  }
}