@page "{contentType}"

@using Ozds.Util

@model Ozds.Modules.Members.Pages.CreateNewModel

@{
  string contentType = Request
    .RouteValues["contentType"]
      .As<string>()
      .ThrowWhenNull();
  string contentTypeTranslation = T[contentType].Value;
}

@{
  Html.RenderPartial(
    "_Header",
    $"{T["New"].Value} {contentTypeTranslation}");
}
@await RenderSectionAsync("Messages", required: false)

<form method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	  @await DisplayAsync(Model.Shape)
  <center>
    <button type="submit" class="btn btn-success publish mt-2">
      <span>
        @(T["Create"].Value)
      </span>
      <span>
        @(contentTypeTranslation)
      </span>
    </button>
  </center>
</form>