@page
@model Ozds.Modules.Members.Pages.MeasurementsModel

@{ Html.RenderPartial("_Header", T["Measurements"].Value); }

<ul>
  @foreach(var measurement in Model.Measurements) {
    <li>
      <span>
        @measurement.Source
      </span>
      <span>
        @measurement.MeasurementTimestamp.ToString()
      </span>
    </li>
  }
</ul>
