@page
@model Ozds.Modules.Members.Pages.MyDocumentsModel

@using OrchardCore.ContentManagement.Metadata

@inject IContentDefinitionManager ContentDefinitionManager

@{
	Html.RenderPartial("_Header", T["My Documents"].Value);
}

@await RenderSectionAsync("Messages", required: false)

@foreach (var (group, documents) in Model.Documents)
{
	<h3>@group</h3>

	<div class="list-group-flush">
    @foreach (var (name, id) in documents)
    {
      <div
          class="list-group-item d-flex justify-content-between align-items-center">
        @name
        <a
            asp-page="./Print" asp-page-handler="Download"
            asp-route-fileName="Member-@id"
            asp-route-contentId="@id"
            class="badge badge-primary bg-secondary badge-pill">
          Download
        </a>
      </div>
    }
	</div>
}