@page
@model Ozds.Modules.Members.Pages.MyProfileModel

@using OrchardCore.ContentManagement.Metadata

@inject IContentDefinitionManager ContentDefinitionManager

@{ Html.RenderPartial("_Header", T["My Profile"].Value); }

@await RenderSectionAsync("Messages", required: false)

<div asp-validation-summary="All" class="text-danger"></div>

@await DisplayAsync(Model.Shape)

<div class="change-pass mt-5">
  <h5>
    @T["Change Password"]
  </h5>
  <hr>
  <a href="/password" class="btn btn-warning text-decoration-none">
    @T["Change Your Password"]
  </a>
</div>
