@using OrchardCore.ContentManagement
@using Ozds.Modules.Ozds
@using Ozds.Util

@{
  ContentItem contentItem = Model.ContentItem;
  var center = contentItem
  .AsContent<CenterType>()
  .ThrowWhenNull();
}

<h2>
  @center.Title.Value.Title
</h2>

<div>
  <h3>
    @T["Owner"]
  </h3>

  @await DisplayAsync(Model.Content.CenterOwner)
</div>

<div>
  <h3>
    @T["Catalogue"]
  </h3>
  <ul>
    @foreach (var catalogue in center.Catalogues.Value.ContentItems)
    {
      <li>
        @await Orchard.DisplayAsync(catalogue, "Brief")
      </li>
    }
  </ul>
</div>

<div>
  <h3>
    @T["Operator"]
  </h3>

  @await DisplayAsync(Model.Content.Operator)
</div>