@using OrchardCore.ContentManagement
@using Ozds.Modules.Ozds
@using Ozds.Extensions

@{
  ContentItem contentItem = Model.ContentItem;
  ConsumerType consumer = contentItem
    .AsContent<ConsumerType>()
    .ThrowWhenNull();
}

<a
    asp-area="Ozds.Modules.Ozds"
    asp-page="/Overview"
    asp-route-contenttype="Center"
    asp-route-contentitemid="@contentItem.ContentItemId">
  <span>
    @consumer.Title.Value.Title
  </span>
</a>