{% zone "Header" %}
  <header
      class="masthead"
      style="background-image: url('{{
        "~/Ozds.Themes.Ozds/assets/img/center.png"
        | href }}')">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>
              {{ "Forbidden" | t }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endzone %}
<p>
  {{ "You do not have access to this resource." | t }}
</p>
