@using OrchardCore.ContentManagement

@await Orchard.DisplayAsync(Model.ContentItem as ContentItem, "Brief")

<h3>
  @(T["Dashboard"].Value)
</h3>

@await Orchard.DisplayAsync(Model.ContentItem as ContentItem, "Dashboard")
