@using OrchardCore.ContentManagement

@{
  ContentItem contentItem = Model.ContentItem;
}

@await Orchard.DisplayAsync(contentItem, "Brief")

<h3>
  @T["Print"]
</h3>

@await Orchard.DisplayAsync(contentItem, "Print")
