@using OrchardCore.ContentManagement
@using Ozds.Modules.Members
@using Ozds.Util

@{
  ContentItem contentItem = Model.ContentItem;
  CatalogueType catalogue = contentItem
    .AsContent<CatalogueType>()
    .ThrowWhenNull();
}

<h4>
  <span>
    @(T["Catalogue"])
    @catalogue.Title.Value.Title
  </span>
</h4>

<ul>
  @foreach (var item in catalogue.Items.Value.ContentItems
    .SelectFilter(ContentTypeBaseExtensions.AsContent<CatalogueItemType>))
  {
    <li>
      <span>
        @item.Title.Value.Title
      </span>
      <span>
        @item.CatalogueItem.Value.Price.Value
      </span>
    </li>
  }
</ul>