@page
@model Members.Pages.MeasurementsModel

@using Elasticsearch

@{ Html.RenderPartial("_Header", @T["Mjerenja"].Value); }

<ul>
  @foreach(var measurement in Model.Measurements) {
    <li>
      <span>
        @measurement.Source
      </span>
      <span>
        @measurement.MeasurementTimestamp.ToUtcIsoString()
      </span>
    </li>
  }
</ul>
