{% assign favicon_url = 'favicon.ico' | asset_url %}
{% link rel:'shortcut icon', type:'image/x-icon', src:favicon_url %}
{% a
    area: 'OrchardCore.Admin',
    controller: 'Admin',
    action: 'Index',
    class: 'ta-navbar-brand' %}
  <img
    src="{{ 'helb_logo/helb_logo_RGB.png' | asset_url }}"
    alt="{{ Site.SiteName }}" />
  <span>
    {{ Site.SiteName }}
  </span>
{% enda %}
