<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@RenderTitleSegments(Site.SiteName, "before")</title>

    <link
        type="image/x-icon"
        rel="shortcut icon"
        href="~/Ozds.Themes.Ozds/assets/favicon.ico">

    <link
        rel='stylesheet'
        type='text/css'
        href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'>
    <link
        rel='stylesheet'
        type='text/css'
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'>

    <style asp-name="ozdstheme-global"></style>
    <script asp-name="ozdstheme-global"></script>

    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />

    @await RenderSectionAsync("HeadMeta", required: false)
  </head>

  <body dir="@Orchard.CultureDir()">
    <nav class="navbar" id="nav-root">
      <div class="container px-4 px-lg-5">
        <a href="~/" class="navbar-brand">
          <img
              src="~/Ozds.Themes.Ozds/assets/img/helb_logo.png"
              alt="HELB logo"
              class="logo-img">
        </a>

        <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#nav-menu"
            data-bs-parent="#nav-root"
            aria-expanded="false"
            aria-controls="nav-menu"
            aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="nav-menu">
          @if (User.IsInRole("User"))
          {
            <partial name="MainMenu" />
          }
          <partial name="LoginMenu" />
          <shape type="ContentCulturePicker" />
        </div>
      </div>
    </nav>

    <script>
      var navMenu = document.getElementById('nav-menu')

      navMenu.addEventListener(
        'show.bs.collapse',
        () => document
          .getElementById('nav-root')
          .classList
          .add('navbar-shown'))

      navMenu.addEventListener(
        'hidden.bs.collapse',
        () => document
          .getElementById('nav-root')
          .classList
          .remove('navbar-shown'))
    </script>

    @await RenderSectionAsync("Header", required: false)
    @await RenderSectionAsync("Login", required: false)

    <div class="container px-4 px-lg-5 mb-4">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-sm-11 col-md-10 col-lg-9">
          @await RenderSectionAsync("Messages", required: false)
          @await RenderBodyAsync()
        </div>
      </div>
    </div>

    @if (IsSectionDefined("Footer"))
    {
      <footer>
        <div class="container">
          @await RenderSectionAsync("Footer", required: false)
        </div>
      </footer>
    }

    <resources type="FootScript" />
  </body>
</html>
