{% assign contentMenuItem = Model.ContentItem.Content.ContentMenuItemPart %}

<li class="nav-item dropdown">
  {% if Model.HasItems %}
    <a
        href="
          {{
            contentMenuItem.SelectedContentItem.ContentItemIds
            | first
            | display_url
          }}"
        class="nav-link dropdown-item  dropdown-toggle"
        data-bs-toggle="dropdown">
      {{ Model.ContentItem.DisplayText }}
      <b class="caret"></b>
    </a>
  {% else %}
    <a
        href="
          {{
            contentMenuItem.SelectedContentItem.ContentItemIds
            | first
            | display_url
          }}"
        class="nav-link dropdown-item">
      {{ Model.ContentItem.DisplayText }}
    </a>
  {% endif %}
</li>