{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}

<li class="nav-item dropdown">
  {% if Model.HasItems %}
    <a
        href="{{ link.Url | href }}"
        class="nav-link dropdown-item dropdown-toggle"
        data-bs-toggle="dropdown">
      {{ Model.ContentItem.DisplayText }}
      <b class="caret"></b>
    </a>
  {% else %}
    <a
        href="{{ link.Url | href }}"
        class="nav-link dropdown-item">
      {{ Model.ContentItem.DisplayText }}
    </a>
  {% endif %}
</li>
